:root {
    background-color: mediumturquoise;
    
}

#container {
    text-align: center;
}
button {
    background-color:greenyellow;
}
button:visited {
    background-color: red !important;
    /* apparently I need JS to make my dreams come true... later... */
}

li {
    list-style-type: lower-alpha;
}

li:hover {
    color:blue;
    /* this will only affect the actual list points, not the text in the list lines */
}

:focus {
    color:magenta;
}